@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: #ff900e1a;
  padding: 0px 190px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #424242;
  margin-right: 20px;
  font-size: 18px;
}

/* banner of header syles */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  background-color: #ff900e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.banner img {
  margin-top: 40px;
  width: 100%;
}

/* Responsive media queries */
/* moblie devices */

@media screen and (max-width: 576px) {
  header {
    padding: 10px;
    background-color: greenyellow;
  }
  header nav {
    flex-direction: column;
  }
}
/* medium devices */

@media screen and (min-width: 576px) and (max-width: 870px) {
  header {
    padding: 20px;
    background-color: #3bacf8;
  }
  header nav {
    flex-direction: column;
  }
}


/* main styles */
main {
  max-width: 1400px;
  margin: 0px auto;
  margin-top: 2rem;
}
.teams-container {
  display: flex;
  align-items: center;
  border: 2px solid saddlebrown;
  
}
.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.1rem;
  
}
.teams-content {
  padding: 2.7rem;
}
.teams-headline {
  
}
