@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: #ff900e1a;
  padding: 0px 190px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #424242;
  margin-right: 20px;
  font-size: 18px;
}

/* banner of header syles */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.btn-primary {
  padding: 15px;
  background-color: #FF900E;
  border-radius: 7px;
  color: white;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

