@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: #ff900e1a;
  padding: 0px 190px;
  
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #424242;
  margin-right: 20px;
  font-size: 18px;
}

/* banner of header syles */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  background-color: #ff900e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.banner img {
  margin-top: 40px;
  width: 100%;
}

/* Responsive media queries */
/* moblie devices */

@media screen and (max-width: 576px) {
  header {
    padding: 10px;
    background-color: greenyellow;
  }
  header nav {
    flex-direction: column;
  }
}
/* medium devices */

@media screen and (min-width: 576px) and (max-width: 870px) {
  header {
    padding: 20px;
    background-color: #3bacf8;
  }
  header nav {
    flex-direction: column;
  }
}

/* main styles */

/* teams section styles */

.teams-container {
  display: flex;
  margin: 30px 190px;
  align-items: center;
}
.teams-img {
  max-width: 49%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.teams-img img {
  width: 49%;
}

.teams-content {
  width: 50%;
  padding-left: 30px;
}
.quick-list {
  color: #727272;
  font-size: 2.7rem;
  font-weight: 500;
}
.of-our {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.textEnd {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.teams-content .teams-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* respnsive teams section styles */

/* mobile devices */
@media screen and (max-width: 576px) {
  .teams-container {
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 10px 0px;
  }
  .teams-img img {
    width: 100%;
    margin-bottom: 10px;
  }
  .teams-content {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 10px 0px;
  }
}
/* medium devices styles */

@media screen and (min-width: 576px) and (max-width: 880px) {
  .teams-container {
    flex-direction: column-reverse;
    margin: 10px 0px;
  }

  .teams-img img {
    width: 100%;
    margin-bottom: 20px;
  }
  .teams-content {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 10px 0px;
  }
}

/* Features section Styles */

.Features_section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 40px 180px;
}
.text-container-section {
  width: 50%;
}
/* header parts */

.section_header .title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  border-left: 3px solid #ff900e;
  padding-left: 10px;
}
.section_header .description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
}
.features-common {
  width: auto;
  height: auto;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-common h3 {
  color: #131313;
  font-size: 1.1rem;
  padding-left: 5px;
  font-weight: 600;
}
.features-common p {
  color: #727272;
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 5px;
}
.img-container {
  width: calc((50%-50px));
}
.img-container img {
  width: 100%;
}
/* highlight section */
.Experience {
  background-color: #ff900e;
  border-radius: 8px;
  padding: 30px 38px;
  color: white;
  width: 40%;
  text-align: center;
  position: relative;
  top: -70px;
}
.Experience .h1 {
  margin-bottom: 10px;
}
.Experience .p {
  font-size: 20px;
}

/* media query */
/* for moblile devices */
@media screen and (max-width: 576px) {
  .Features_section {
    flex-direction: column;
    margin: auto;
  }
  .text-container-section {
    width: 100%;
    text-align: center;
  }
}
/* medium devices/laptop */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .Features_section {
    flex-direction: column;
    margin: auto;
  }
  .text-container-section {
    width: 100%;
    text-align: center;
  }
}

/* some facts section */
.some-facts {
  margin: 180px;
}
.section-header {
  width: 40%;
  margin-bottom: 50px;
}
.section_header .title {
  color: #131313;
  font-weight: 700;
  font-size: 2.8rem;
}
.section_header .description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.facts-container {
  display: flex;
  justify-content: space-around;
}
.facts-container .facts {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 20px 40px;
  text-align: center;
  width: 80px;
  margin-right: 20px;
  gap:auto;
}
/* bottom section styles */
/* Sponsors */
.our-sponsors .section-header {
  max-width: 450px;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 40px;
}

.our-sponsors .sponsors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}


/* footer styles */
footer {
  background-color: #FFF4E7;
  padding: 20px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}
